html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.winWrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333333;
    border: 1px solid black;
}

.winTitleBar {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    color: white;
    font-size: 10px;
    line-height: 16px;
}

.winTitleBarText {
    display: inline-block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
.winWrapper.focused .winTitleBarText {
    font-weight: bold;
}

.winTitleBarCloseBtn {
    display: inline-block;
    width: 12px;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}
.winTitleBarCloseBtn:hover {
    font-weight: bold;
}

.winBox {
    height: 100%;
    width: 100%;
    flex: 1;
    position: relative;
    background-color: limegreen;
}
