:root {
    --window-base-bg-color: transparent;
    --window-titlebar-text-color: white;
    --window-titlebar-close-hover-bg-color: #FF6961;
    --window-titlebar-minimize-hover-bg-color: #CEA32F;
    --window-titlebar-maximize-hover-bg-color: #0DAA49;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--window-base-bg-color);

    -webkit-user-select: none;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
}

#content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--window-base-bg-color);
}

.winWrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--window-inactive-bg-color);
    border: 1px solid var(--window-inactive-border-color);
    overflow: hidden;
}
.winWrapper.focused {
    background-color: var(--window-active-bg-color);
    border-color: var(--window-active-border-color);
}
.winWrapper.urgent {
    background-color: var(--window-urgent-bg-color);
    border-color: var(--window-urgent-border-color);
}
.winWrapper.fullscreen, .winWrapper.maximized {
    border-width: 0;
}

.winTitleBar {
    width: 100%;
    height: 20px;
    display: flex;
    flex-shrink: 0;
    color: var(--window-titlebar-text-color);
    font-size: 12px;
    line-height: 18px;

    -webkit-app-region: drag;
}

.winTitleBarIcon {
    flex-shrink: 0;
    flex-grow: 0;
    height: 16px;
    width: 16px;
    margin-top: 1px;
    margin-left: 1px;
}

.winTitleBarText {
    display: inline-block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    text-align: center;
}
.winWrapper.focused .winTitleBarText {
    font-weight: bold;
}

.winTitleBarBtn {
    display: inline-block;
    height: 19px;
    text-align: center;

    -webkit-app-region: no-drag;
}

.winTitleBarCloseBtn {
    width: 39px;
}
.winTitleBarCloseBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-close-hover-bg-color);
}

.winTitleBarMinimizeBtn {
    width: 23px;
}
.winTitleBarMinimizeBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-minimize-hover-bg-color);
}

.winTitleBarMaximizeBtn {
    width: 23px;
}
.winTitleBarMaximizeBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-maximize-hover-bg-color);
}

.winTitleBarBtnIcon {
    height: 11px;
    padding-top: 4px;
}

.winBox {
    height: 100%;
    width: 100%;
    flex: 1;
    position: relative;
}

.errorDisplay {
    background-image: linear-gradient(
        45deg,
        hsl(0deg 88% 84%) 0%,
        hsl(0deg 79% 82%) 11%,
        hsl(0deg 72% 80%) 22%,
        hsl(0deg 66% 78%) 33%,
        hsl(0deg 62% 76%) 44%,
        hsl(0deg 57% 74%) 56%,
        hsl(0deg 54% 72%) 67%,
        hsl(0deg 51% 70%) 78%,
        hsl(0deg 48% 68%) 89%,
        hsl(0deg 45% 66%) 100%
    );
    white-space: pre;
}
