.winTitleBar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    container-type: size;
    container-name: titlebar;
    color: var(--window-titlebar-text-color);

    -webkit-app-region: drag;
}

.winTitleBarIcon {
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 1px;
}

.winTitleBarText {
    display: inline-block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    text-align: center;
    font-size: 60cqh; /* ~12px at a 20px titlebar height. */
}
.winWrapper.focused .winTitleBarText {
    font-weight: bold;
}

.winTitleBarBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    flex-shrink: 0;

    -webkit-app-region: no-drag;
}

.winTitleBarCloseBtn {
    width: 200cqh;
    background-color: var(--window-titlebar-close-bg-color);
}
.winTitleBarCloseBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-close-hover-bg-color);
}

.winTitleBarMinimizeBtn {
    width: 110cqh;
    background-color: var(--window-titlebar-minimize-bg-color);
}
.winTitleBarMinimizeBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-minimize-hover-bg-color);
}

.winTitleBarMaximizeBtn {
    width: 110cqh;
    background-color: var(--window-titlebar-maximize-bg-color);
}
.winTitleBarMaximizeBtn:hover {
    font-weight: bold;
    background-color: var(--window-titlebar-maximize-hover-bg-color);
}

.winTitleBarBtnIcon {
    height: 60%;
}
